body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.About-me-list{
  overflow-y: auto;
  height: 60%;
 /* width:40vw;*/
 display: flex;
 flex-flow: row wrap;
 justify-content: space-around;
 text-align: center;
}

.About-me{
  width: 20vw;
  border: 2px solid black;
  margin: 1em;
}

.About-me > img{
  width: 100%;
}
